<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head'); %>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/scripts/socket-connection.js"></script>
  <script src="/scripts/uno.js"></script>
  <script>
    function onload(e) {
      console.log("onload");
      var room = document.getElementById("room");
      let x = sessionStorage.getItem("login");
      let user = JSON.parse(x);

      const message = {
        user: user.username,
        room: room.value,
      };
      socket.emit("joingameroom", JSON.stringify(message));
    }
  </script>
</head>
<style>
  .game-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 200px;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
</style>

<body onload="onload()">
  <div class="container">
    <%- include('partials/header'); %>

      <main class="main">
        <h1>Game Room </h1>
        <div id="game-container">
          <div style="display: grid; grid-template-columns: auto auto ;">
            <div >
              <div id="cardsleft"> <%= cardsleft %> cards left</div>
              <img src="/images/card_back.png" />
            </div>
            <div>
              <div id="discardpile">
                <span>Discard Pile</span><br/>
                <img id="discardimg" src="<%= firstdiscard.src %>" width="98px" height="136px" cardid="0"/>
              </div>
              <div id="color"></div>
            </div>
          </div>
          <br>
          <% if(myturn === true){ %>
            <button type="button" id="drawbutton" onClick="drawCard()">Draw Card</button>
          <% } else{ %>  
            <button type="button" id="drawbutton" onClick="drawCard()" disabled>Draw Card</button>
          <% } %>
          <div id="cardarea">
            <% me.hands.forEach((h) => { %>
              <img src='<%= h.src %>' width="98px" height="136px" style="cursor: pointer;"
                disabled="<%= !myturn %>" onClick="discardCard(this, this.src, <%= h.cardId %>)" cardid="<%= h.cardId %>"/>
              <% }); 
            %>
          </div>
        </div>
       
      </main>
      <aside class="sidebar">
        <h1>Room: <%= roomname %> </h1>
        <p>Host: <%= host %></p>
        Players
        <div id="players">
        </div>
        <hr>
        <h2>Chat </h2>
        <form id="input-form" onsubmit="sendMessage(event);">
          <label for="message">Message:</label>
          <input id="message" type="text" name="message">
          <input id="room" type="hidden" name="room" value="<%= roomname %>"/><br>
          <input type="submit" value="Send">
          <div id="chatbox">
            <% chats.forEach(function(p) { %>
              <div class="chattext">
                <%= p.player %> : <%= p.message %>
              </div>
            <% }); 
            %>
          </div>
        </form>
      </aside>
      <footer class="footer">
        <%- include('partials/footer'); %>
      </footer>
  </div>
</body>

</html>