<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
  </head>

  <body>
    <div class="container">
      <%- include('partials/header') %> <% if (user) { %> <% } else { %>
      <ul>
        <li><a href="/login">login</a></li>
        <li><a href="/signup">Signup</a></li>
      </ul>
      <% } %>
      <main class="main">
        <div>
          <p>Start a new game</p>
          <input
            type="submit"
            value="Create"
            onClick="window.location.href = '/createGame'"
          />
        </div>

        <div>
          Join other games:
          <div class="game-list">
            <% openrooms.forEach(function(room) { %>
            <div class="game-card">
              <h3><%= room.name %></h3>
              <a href="/joingame?room=<%= room.name %>">Join Game</a>
            </div>
            <% }); %>
          </div>
        </div>
      </main>
      <aside class="sidebar"></aside>
      <footer class="footer"><%- include('partials/footer'); %></footer>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/socket-connection.js"></script>
    <script src="/scripts/uno.js"></script>
  </body>
</html>
