<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head'); %>
</head>

<body>
  <div class="container">
    <%- include('partials/header'); %>

      <main class="main">
        <h1>Room: <%= roomname %> </h1>
        <p>Waiting room </p>
        <p>Host: <%= host %></p>
        <div>
          Players
          <% players.forEach(function(p) { %>
            <li>
                <%= p.name %>
            </li>
            <% }); 
          %>
        </div>

        <a href="\game?room=<%= roomname %>"> Start game</a>
      </main>
      <aside class="sidebar">
        <h2>Chat </h2>
        <form id="input-form">
          <label for="message">Message:</label>
          <input id="message" type="text" name="message">
          <input id="room" type="hidden" name="room" value="<%= roomname %>"/>
          <br/>
          <input type="submit" value="Send">
          <div id="chatbox">
            <% chats.forEach(function(p) { %>
              <div class="chattext">
                <%= p.player %> : <%= p.message %>
              </div>
            <% }); 
            %>
          </div>
        </form>
      </aside>
      <footer class="footer">
        <%- include('partials/footer'); %>
      </footer>
  </div>
  <script src="/scripts/uno.js">  </script>
</body>

</html>